{% extends 'base.html' %} {% block style %}
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .parent {
    height: fit-content;
    width: 98vw;
    display: grid;
    place-items: center;
  }
  .wrapper {
    padding-top: 20px;
    width: 80vw;
    display: grid;
    gap: 60px;
    padding-left: 50px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
  }
  weak {
    font-size: 14px;
    color: grey;
  }
  weak div {
    float: right;
    padding-right: 20px;
  }
  .pollContent {
    min-width: 300px;
    width: 500px;
    border: 1px solid grey;
    border-radius: 1rem;
  }

  .options {
    height: 40px;
    padding: 5px 0px;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .options:hover {
    background-color: grey;
  }
</style>
{% endblock style %} {% block body %}

<div>
  <form action="">
    <!-- <label for="search" class="form-label">Search</label> -->
    <input
      type="text"
      id="search"
      name="search"
      class="form-control"
      placeholder="Search"
    />

    <button type="submit" class="btn btn-primary" style="float: right">
      Submit
    </button>
  </form>
</div>

<div class="wrapper">

   {% for poll in polls %}

                <div class="card-body pollContent poll" style="min-width: 400px; overflow: wrap" >
                  <h5 class="card-title">{{poll.question}}</h5>
                  <weak>
                    Created by : {{poll.creator}}
                    <div>Date : {{poll.date}}</div> </weak
                  ><br /><br />
                  <div name="answer1" class="options vote-button">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{poll.option1}}
                  </div>
                  <div name="answer2" class="options vote-button">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{poll.option2}}
                  </div>
                  <div name="answer3" class="options vote-button">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{poll.option3}}
                  </div>
                  <div name="answer4" class="options vote-button">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{poll.option4}}
                  </div>
                  <div name="answer5" class="options vote-button">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{poll.option5}}
                  </div>
                </div>
      
      {% endfor %} 
</div>

{% endblock body %}
