{% extends 'base.html' %} {% block style %}
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .parent {
    height: fit-content;
    width: 98vw;
    display: grid;
    place-items: center;
  }
  .wrapper {
    padding-top: 20px;
    margin-bottom: 50px;
    width: 80vw;
    display: grid;
    gap: 60px;
    padding-left: 50px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
  }
  weak {
    font-size: 14px;
    color: grey;
  }
  weak div {
    float: right;
    padding-right: 20px;
  }
  .pollContent {
    min-width: 300px;
    width: 500px;
    border: 1px solid grey;
    border-radius: 1rem;
  }

  .options {
    height: 40px;
    padding: 5px 0px;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .options:hover {
    background-color: grey;
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

{% endblock style %} {% block serach_bar %}
<div style="position: relative; width: 400px">
  <form action="">
    <!-- <label for="search" class="form-label">Search</label> -->
    <input
      type="text"
      id="search"
      name="search"
      class="form-control"
      placeholder="Search"
    />

    <button
      type="submit"
      class="btn btn-primary"
      style="position: absolute; top: 0; right: 0"
    >
      Submit
    </button>
  </form>
</div>
{% endblock serach_bar %} {% block body %}

<div class="wrapper">
  {% for poll in polls %}
   {% if poll.creator.username == user.username %}
   {% if polls %}
  <div class="card-body pollContent" style="min-width: 400px; overflow: wrap">
    <h5 class="card-title">{{poll.question}}</h5>

    <a id="deleteButton" data-poll-id="{{ poll.id }}" class="btn btn-danger deleteButton" style="float: right" 
    >Delete</a
    >
    
    <a href="/update/{{poll.id}}" class="btn btn-primary" style="float: right"
      >Update</a
    >

    <weak>
      Created by : {{poll.creator}}
      <div>Date : {{poll.date}}</div> </weak
    ><br /><br />
    {% for choice in poll.choice_set.all %}
    <div class="options vote-button">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{choice.option_text}}
    </div>
    {% endfor %} 

  </div>
  {% else %}
  <h1 style="text-align: center">Login to see your polls.</h1>
  {% endif %}


  
  {% endif %}

  {% endfor %}


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script>
  
      document.querySelectorAll(".deleteButton").forEach((button) => {

      button.addEventListener("click", swalDelete);

      function swalDelete() {

        Swal.fire('Hello, World!');

        // Confirm dialog
        Swal.fire({
          title: 'Are you sure?',
          text: 'This action cannot be undone!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {

          if (result.isConfirmed) {
            Swal.fire('Deleted!', 'Your file has been deleted.', 'success')
            .then(() => {
              const pollID = button.dataset.pollId;

              console.log(pollID);

              button.href = `/delete/${pollID}`;
              button.click();
              button.removeEventListener("click", swalDelete);

            })



          }
        });
      }
      });  
  
  </script>

</div>

{% endblock body %}
